In [47]:
import pandas as pd
import numpy as np
import io

In [48]:
df=pd.read_csv('dataset_Facebook.csv',sep =';')
df.head(5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [49]:
print("shape of dataframe :",np.shape(df))

shape of dataframe : (500, 19)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [51]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [52]:
video_sub=df['Type']
video_sub

0       Photo
1      Status
2       Photo
3       Photo
4       Photo
        ...
495     Photo
496     Photo
497     Photo
498     Photo
499     Photo
Name: Type, Length: 500, dtype: object

In [53]:
print(df.columns)

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [54]:
df[['Type','Category']]

       Type  Category
0     Photo         2
1    Status         2
2     Photo         3
3     Photo         2
4     Photo         2
..      ...       ...
495   Photo         3
496   Photo         2
497   Photo         1
498   Photo         3
499   Photo         2

[500 rows x 2 columns]

In [55]:
Bydf_subset = df[['like','share']]
print(Bydf_subset)

       like  share
0      79.0   17.0
1     130.0   29.0
2      66.0   14.0
3    1572.0  147.0
4     325.0   49.0
..      ...    ...
495    53.0   26.0
496    53.0   22.0
497    93.0   18.0
498    91.0   38.0
499    91.0   28.0

[500 rows x 2 columns]

In [56]:
Hydf_subset1 = df[df['like']>100]
print(Hydf_subset1)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
1              139441  Status         2          12             3         10
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
5              139441  Status         2          12             1          9
6              139441   Photo         3          12             1          3
..                ...     ...       ...         ...           ...        ...
488             85979   Photo         3           1             7         10
491             85979   Photo         3           1             6          3
492             85979    Link         1           1             5         11
493             85093   Photo         3           1             1          2
494             85093   Photo         3           1             7         10

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
1     0.0                      10460                            19057
3     1.0                      50128                            87991
4     0.0                       7244                            13594
5     0.0                      10472                            20849
6     1.0                      11692                            19479
..    ...                        ...                              ...
488   0.0                       9700                            17442
491   1.0                       6184                            10228
492   0.0                      45920                             5808
493   0.0                       8412                            13960
494   0.0                       5400                             9218

     Lifetime Engaged Users  Lifetime Post Consumers  \
1                      1457                     1361
3                      2211                      790
4                       671                      410
5                      1191                     1073
6                       481                      265
..                      ...                      ...
488                    1407                     1271
491                     956                      901
492                     753                      655
493                    1179                     1111
494                     810                      756

     Lifetime Post Consumptions  \
1                          1674
3                          1119
4                           580
5                          1389
6                           364
..                          ...
488                        2007
491                        1140
492                         763
493                        1632
494                        1003

     Lifetime Post Impressions by people who have liked your Page  \
1                                                11710
3                                                61027
4                                                 6228
5                                                16034
6                                                15432
..                                                 ...
488                                               8872
491                                               6085
492                                              15766
493                                               8632
494                                               5654

     Lifetime Post reach by people who like your Page  \
1                                                6112
3                                               32048
4                                                3200
5                                                7852
6                                                9328
..                                                ...
488                                              4876
491                                              3502
492                                             10720
493                                              5348
494                                              3230

     Lifetime People who have liked your Page and engaged with your post  \
1                                                 1108
3                                                 1386
4                                                  396
5                                                 1016
6                                                  379
..                                                 ...
488                                                660
491                                                437
492                                                220
493                                                699
494                                                422

     comment    like  share  Total Interactions
1          5   130.0   29.0                 164
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
5          1   152.0   33.0                 186
6          3   249.0   27.0                 279
..       ...     ...    ...                 ...
488       21   277.0   80.0                 378
491        1   105.0   46.0                 152
492        0   128.0    9.0                 137
493       17   185.0   55.0                 257
494       10   125.0   41.0                 176

[252 rows x 19 columns]

In [57]:
df.loc[:2,:]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80

In [58]:
df.loc[[1,5,7]]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339

In [59]:
df.loc[1:7,['like','share']]

     like  share
1   130.0   29.0
2    66.0   14.0
3  1572.0  147.0
4   325.0   49.0
5   152.0   33.0
6   249.0   27.0
7   325.0   14.0

In [60]:
df.sort_values(by = 'like',ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [61]:
df.sort_values('like')

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [62]:
df.sort_values(by = "like",ascending=False , kind="mergesort")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [63]:
df.sort_values(by = "like",ascending=False , kind="mergesort")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [64]:
df_transpose=np.transpose(df)
print(df_transpose)

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [65]:
print("shape of df_transpose :", np.shape(df_transpose))

shape of df_transpose : (19, 500)

In [66]:
print("intial shape of dataframe: ",np.shape(df))
print("After transpose shape becomes:",np.shape(df_transpose))

intial shape of dataframe:  (500, 19)
After transpose shape becomes: (19, 500)

In [67]:
selective_df = pd.DataFrame(df,columns =['like','share','Category','Type'])
selective_df.head(5)

     like  share  Category    Type
0    79.0   17.0         2   Photo
1   130.0   29.0         2  Status
2    66.0   14.0         3   Photo
3  1572.0  147.0         2   Photo
4   325.0   49.0         2   Photo

In [70]:
selective_df.isna().sum()

like        1
share       4
Category    0
Type        0
dtype: int64

In [73]:
selective_df = selective_df.dropna()

In [76]:
pivot_table = pd.pivot_table(selective_df, index=['Type', 'Category'], values = 'like')
print(pivot_table)

                       like
Type   Category
Link   1          75.650000
       2          32.000000
       3          68.000000
Photo  1         127.939227
       2         235.857143
       3         219.753333
Status 1         136.333333
       2         182.552632
       3         151.500000
Video  1         231.428571

In [81]:

reshaping_arr = np.array([1,2,3,4,5,6])
reshaping_arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])